<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script>
	   $(document).ready(function() {
		   $("#one").hide();
		  });
	</script>
	
<style type="text/css">
	#one {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: auto%;
	}
</style>
</head>
<body>

<div id="one">
<img src="/home/nick/git/gs-accessing-data-mysql/complete/src/main/resources/public/images/can_bong.png">
</div>
<img id="one" src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=bitcoin:n3hRLRnQ83EwBTMREF2oQx3kv63sqqWcnz?amount=0.0001111">

</body>
</html>